<h1>Demo: Forklarbar prediksjon av boligpriser</h1>
<p>
  <em>
  
    Dette er en demonstrasjon av forklarbar prediksjon av boligpriser ved hjelp av maskinlæring. Datasettet som har blitt brukt er <a href="https://www.kaggle.com/anthonypino/melbourne-housing-market" target="_blank">Melbourne Housing Clearance Data (2016)</a> fra Kaggle.
    
    <ul>
      <li>
        <a href="/swagger" target="_blank">API-Dokumentasjon</a>
      </li>
      <li>
        <a href="https://github.com/Fundator/finansdep-demo" target="_blank">Kildekode Web Frontend</a> (github.com)
      </li>
      <li>
        <a href="https://github.com/Fundator/finansdep" target="_blank">Kildekode MLFlow Backend</a> (github.com)
      </li>
    </ul>
  </em></p>
<p>
  Bruk skjemaet under for å spesifisere egenskapene til boligen du ønsker å predikere en markedspris for. Prediksjonen samt en forklaring av prediksjonen vil bli vist under skjemaet.
</p>
<form #predictionForm="ngForm" (ngSubmit)="onSubmit(predictionForm.value)">

  <table class='table predictForm' style="width: 0%; text-wrap:none">
    <tbody>
      <tr>
        <td><label>Suburb:</label></td>
        <td>
          <!--<input name="Suburb" [(ngModel)]="predictionRequest.Suburb" placement="top" ngbTooltip="Eksempler kan være Fossegrenda, Flatåsen, Byneset, eller Krattsia">-->
          <select name="Suburb" [(ngModel)]="predictionRequest.Suburb" style="width:100%">
            <option *ngFor="let j of formData.Suburb" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Rooms:</label></td>
        <td>
          <input name="Rooms" [(ngModel)]="predictionRequest.Rooms" style="width:100%" required type="number">
        </td>
      </tr>
      <tr>
        <td><label>Type:</label></td>
        <td>
          <select name="Type" [(ngModel)]="predictionRequest.Type" style="width:100%">
            <option *ngFor="let j of formData.Type" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Method:</label></td>
        <td>
          <select name="Method" [(ngModel)]="predictionRequest.Method" style="width:100%">
            <option *ngFor="let j of formData.Method" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Post Code:</label></td>
        <td>
          <select name="PostCode" [(ngModel)]="predictionRequest.PostCode" style="width:100%">
            <option *ngFor="let j of formData.Postcode" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Region Name:</label></td>
        <td>
          <select name="RegionName" [(ngModel)]="predictionRequest.RegionName" style="width:100%">
            <option *ngFor="let j of formData.Regionname" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Property Count:</label></td>
        <td><input name="PropertyCount" [(ngModel)]="predictionRequest.PropertyCount" style="width:100%" required type="number"></td>
      </tr>
      <tr>
        <td><label>Distance:</label></td>
        <td><input name="Distance" [(ngModel)]="predictionRequest.Distance" style="width:100%" required type="number"></td>
      </tr>
      <tr>
        <td><label>Council Area:</label></td>
        <td>
          <select name="CouncilArea" [(ngModel)]="predictionRequest.CouncilArea" style="width:100%">
            <option *ngFor="let j of formData.CouncilArea" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p>
            <button type="submit" class="btn btn-primary">Prediker pris!</button>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<div *ngIf="isError" style="display: block; color:red; font-weight:bold; align-content:center">
  <p>
    <img src="/images/ouch.png" />
  </p>
  <p>
    {{errorMessage}}
  </p>
</div>

<div *ngIf="prediction && !isError" style="display: block" id="resultsView">
  <hr  />
  <h2>Predikert verdi: {{prediction.prediction | currency:'AUD':'\$':'1.0-0'}} AUD</h2>
  De individuelle bidragene fra variablene til den endelige prisen er detaljert i diagrammet under.
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
  <hr />
  <h2>Hvordan kalkuleres prediksjonen?</h2>
  <table class="explainForm" style="width: 0%; text-align:right;">
    <tr style="border-bottom: 1px solid silver;" placement="top" ngbTooltip="Den globale middelverdien er utgangspunktet for kalkulasjonen. Bidragene fra hver enkelt variabel summeres med denne verdien.">
      <td><b>Global middelverdi:</b></td>
      <td><b>{{prediction.globalMean | currency:'AUD':'\$':'1.0-0'}}</b></td>
    </tr>
    <tr placement="right" ngbTooltip="Oppgitt forstad {{AddOrSubtract(prediction.suburb)}} {{Abs(prediction.suburb) | currency:'AUD':'\$':'1.0-0'}} ">
      <td>Suburb:</td>
      <td >{{prediction.suburb | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Antall rom {{AddOrSubtract(prediction.rooms)}} {{Abs(prediction.rooms) | currency:'AUD':'\$':'1.0-0'}} ">
      <td>Rooms:</td>
      <td>{{prediction.rooms | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Oppgitt hustype {{AddOrSubtract(prediction.type)}} {{Abs(prediction.type) | currency:'AUD':'\$':'1.0-0'}} ">
      <td>Type:</td>
      <td>{{prediction.type | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Salgsmetoden {{AddOrSubtract(prediction.method)}} {{Abs(prediction.method) | currency:'AUD':'\$':'1.0-0'}} ">
      <td>Method:</td>
      <td>{{prediction.method | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Postnummeret {{AddOrSubtract(prediction.postcode)}} {{Abs(prediction.postcode) | currency:'AUD':'\$':'1.0-0'}} ">
      <td>Post Code:</td>
      <td>{{prediction.postcode | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Regionen {{AddOrSubtract(prediction.regionname)}} {{Abs(prediction.regionname) | currency:'AUD':'\$':'1.0-0'}} ">
      <td>Region Name:</td>
      <td>{{prediction.regionname | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Antall eiendommer i forstaden {{AddOrSubtract(prediction.propertycount)}} {{Abs(prediction.propertycount) | currency:'AUD':'\$':'1.0-0'}} ">
      <td>Property Count:</td>
      <td>{{prediction.propertycount | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Avstanden fra CBD (central business district) {{AddOrSubtract(prediction.distance)}} {{Abs(prediction.distance) | currency:'AUD':'\$':'1.0-0'}} ">
      <td>Distance:</td>
      <td>{{prediction.distance | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Plassering i fylke {{AddOrSubtract(prediction.councilArea)}} {{Abs(prediction.councilArea) | currency:'AUD':'\$':'1.0-0'}}">
      <td>Council Area:</td>
      <td>{{prediction.councilArea | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>

    <tr placement="right" ngbTooltip="Salgsmåned {{AddOrSubtract(prediction.month)}} {{Abs(prediction.month) | currency:'AUD':'\$':'1.0-0'}}">
      <td>Month:</td>
      <td>{{prediction.month | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>
    <tr placement="right" ngbTooltip="Salgsår {{AddOrSubtract(prediction.year)}}  {{Abs(prediction.year) | currency:'AUD':'\$':'1.0-0'}}">
      <td>Year:</td>
      <td>{{prediction.year | currency:'AUD':'\$':'1.0-0'}}</td>
    </tr>

    <tr style="border-top: 1px solid silver;" placement="right" ngbTooltip="Summen av alle bidragene ovenfor utgjør en predikert husverdi på {{prediction.prediction | currency:'AUD':'\$':'1.0-0'}}">
      <td><b>Sum:</b></td>
      <td><b>{{prediction.prediction | currency:'AUD':'\$':'1.0-0'}}</b></td>
    </tr>

  </table>
  <hr *ngIf="scrollToResultsView()" />
  <p></p>

</div>
