<h1>Housing Value Prediction Demo</h1>
<p>
  <em>
    This is a demonstration of explainable prediction of housing values using machine learning. The data set used is the <a href="https://www.kaggle.com/anthonypino/melbourne-housing-market" target="_blank">Melbourne Housing Clearance Data (2016)</a> from Kaggle.
    Some useful resources:
    <ul>
      <li>
        <a href="/swagger" target="_blank">API Documentation</a>
      </li>
      <li>
        <a href="https://github.com/Fundator/finansdep-demo" target="_blank">Web application source code</a>
      </li>
      <li>
        <a href="https://github.com/Fundator/finansdep" target="_blank">MLFlow backend source code</a>
      </li>
    </ul>
  </em></p>
<p>
  Use the form below to specify the characteristics of the house you wish to predict a market value for. The prediction as well as its explanation will be shown below the form. 

</p>
<form #predictionForm="ngForm" (ngSubmit)="onSubmit(predictionForm.value)">

  <table class='table predictForm' style="width: 0%">
    <tbody>
      <tr>
        <td><label>Suburb:</label></td>
        <td>
          <!--<input name="Suburb" [(ngModel)]="predictionRequest.Suburb" placement="top" ngbTooltip="Eksempler kan være Fossegrenda, Flatåsen, Byneset, eller Krattsia">-->
          <select name="Suburb" [(ngModel)]="predictionRequest.Suburb" style="width:100%">
            <option *ngFor="let j of formData.Suburb" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Rooms:</label></td>
        <td>
          <input name="Rooms" [(ngModel)]="predictionRequest.Rooms" style="width:100%" required type="number">
        </td>
      </tr>
      <tr>
        <td><label>Type:</label></td>
        <td>
          <select name="Type" [(ngModel)]="predictionRequest.Type" style="width:100%">
            <option *ngFor="let j of formData.Type" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Method:</label></td>
        <td>
          <select name="Method" [(ngModel)]="predictionRequest.Method" style="width:100%">
            <option *ngFor="let j of formData.Method" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Post Code:</label></td>
        <td>
          <select name="PostCode" [(ngModel)]="predictionRequest.PostCode" style="width:100%">
            <option *ngFor="let j of formData.Postcode" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Region Name:</label></td>
        <td>
          <select name="RegionName" [(ngModel)]="predictionRequest.RegionName" style="width:100%">
            <option *ngFor="let j of formData.Regionname" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Property Count:</label></td>
        <td><input name="PropertyCount" [(ngModel)]="predictionRequest.PropertyCount" style="width:100%" required type="number"></td>
      </tr>
      <tr>
        <td><label>Distance:</label></td>
        <td><input name="Distance" [(ngModel)]="predictionRequest.Distance" style="width:100%" required type="number"></td>
      </tr>
      <tr>
        <td><label>Council Area:</label></td>
        <td>
          <select name="CouncilArea" [(ngModel)]="predictionRequest.CouncilArea" style="width:100%">
            <option *ngFor="let j of formData.CouncilArea" [value]="j">{{ j }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p>
            <button type="submit" class="btn btn-primary">Predict</button>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<div *ngIf="isError" style="display: block; color:red; font-weight:bold; align-content:center">
  <p>
    <img src="/images/ouch.png" />
  </p>
  <p>
    {{errorMessage}}
  </p>
</div>

<div *ngIf="prediction && !isError" style="display: block" id="resultsView">
  <hr *ngIf="scrollToResultsView()" />
  <h2>Predicted value: AU$ {{prediction.prediction}}</h2>
  The individual feature contributions to the final prediction is detailed in the bar char below.
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
  <hr />
  <h2>How is the prediction calculated?</h2>
  <table class="" style="width: 0%">
    <tr style="border-bottom: 1px solid silver;" placement="top" ngbTooltip="The global mean is the basis for the calculation. All feature contributions are summed with this base value">
      <td><b>Global mean:</b></td>
      <td><b>AU$ {{prediction.globalMean}}</b></td>
    </tr>
    <tr placement="right" ngbTooltip="The given suburb {{AddOrSubtract(prediction.suburb)}} AU$ {{Abs(prediction.suburb)}} ">
      <td>Suburb:</td>
      <td>AU$ {{prediction.suburb}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given number of rooms {{AddOrSubtract(prediction.rooms)}} AU$ {{Abs(prediction.rooms)}} ">
      <td>Rooms:</td>
      <td>AU$ {{prediction.rooms}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given house type {{AddOrSubtract(prediction.type)}} AU$ {{Abs(prediction.type)}} ">
      <td>Type:</td>
      <td>AU$ {{prediction.type}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given method of sale {{AddOrSubtract(prediction.method)}} AU$ {{Abs(prediction.method)}} ">
      <td>Method:</td>
      <td>AU$ {{prediction.method}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given postcode {{AddOrSubtract(prediction.postcode)}} AU$ {{Abs(prediction.postcode)}} ">
      <td>Post Code:</td>
      <td>AU$ {{prediction.postcode}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given region name {{AddOrSubtract(prediction.regionname)}} AU$ {{Abs(prediction.regionname)}} ">
      <td>Region Name:</td>
      <td>AU$ {{prediction.regionname}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given number of properties in the suburb {{AddOrSubtract(prediction.propertycount)}} AU$ {{Abs(prediction.propertycount)}} ">
      <td>Property Count:</td>
      <td>AU$ {{prediction.propertycount}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given distance from CBD (central business district) {{AddOrSubtract(prediction.distance)}} AU$ {{Abs(prediction.distance)}} ">
      <td>Distance:</td>
      <td>AU$ {{prediction.distance}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given council area {{AddOrSubtract(prediction.councilArea)}} AU$ {{Abs(prediction.councilArea)}}">
      <td>Council Area:</td>
      <td>AU$ {{prediction.councilArea}}</td>
    </tr>

    <tr placement="right" ngbTooltip="The given month {{AddOrSubtract(prediction.month)}} AU$ {{Abs(prediction.month)}}">
      <td>Month:</td>
      <td>AU$ {{prediction.month}}</td>
    </tr>
    <tr placement="right" ngbTooltip="The given year {{AddOrSubtract(prediction.year)}} AU$ {{Abs(prediction.year)}}">
      <td>Year:</td>
      <td>AU$ {{prediction.year}}</td>
    </tr>

    <tr style="border-top: 1px solid silver;" placement="right" ngbTooltip="The sum of all the contributions above amounts to a predicted house value of AU$ {{prediction.prediction}}">
      <td><b>Sum:</b></td>
      <td><b>AU$ {{prediction.prediction}}</b></td>
    </tr>

  </table>
  <hr />
  <p></p>

</div>
