<h1>Overskrift</h1>
<p><em>Forklaring av demoen her</em></p>
<form #predictionForm="ngForm" (ngSubmit)="onSubmit(predictionForm.value)">

  <table class='table predictForm' style="width: 0%">
    <tbody>
      <tr>
        <td><label>Suburb:</label></td>
        <td><input name="Suburb" [(ngModel)]="predictionRequest.Suburb" placement="top" ngbTooltip="Eksempler kan være Fossegrenda, Flatåsen, Byneset, eller Krattsia" ></td>
      </tr>
      <tr>
        <td><label>Rooms:</label></td>
        <td><input name="Rooms" [(ngModel)]="predictionRequest.Rooms" ></td>
      </tr>
      <tr>
        <td><label>Type:</label></td>
        <td><input name="Type" [(ngModel)]="predictionRequest.Type" ></td>
      </tr>
      <tr>
        <td><label>Method:</label></td>
        <td><input name="Method" [(ngModel)]="predictionRequest.Method" ></td>
      </tr>
      <tr>
        <td><label>Post Code:</label></td>
        <td><input name="PostCode" [(ngModel)]="predictionRequest.PostCode" ></td>
      </tr>
      <tr>
        <td><label>Region Name:</label></td>
        <td><input name="RegionName" [(ngModel)]="predictionRequest.RegionName" ></td>
      </tr>
      <tr>
        <td><label>Property Count:</label></td>
        <td><input name="PropertyCount" [(ngModel)]="predictionRequest.PropertyCount" ></td>
      </tr>
      <tr>
        <td><label>Distance:</label></td>
        <td><input name="Distance" [(ngModel)]="predictionRequest.Distance" ></td>
      </tr>
      <tr>
        <td><label>Council Area:</label></td>
        <td><input name="CouncilArea" [(ngModel)]="predictionRequest.CouncilArea" ></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p>
            <button type="submit" class="btn btn-primary">Predict</button>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<div *ngIf="prediction" style="display: block">
  <h2>Predicted value: AU$ {{prediction.prediction}}</h2>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
</div>
